html {
  font-family: sans-serif;
  text-align: center;
}

h1>a {
  background-color: black;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 5px;
}

h1 a:hover {
  background-color: yellow;
  color: black;
}

p a:hover {
  background-color: yellow;
}

a:link {
    text-decoration: none;
}

ul {
  list-style-type: none;

}

li {
  margin: 20px;
  display: inline;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: 900;
  color: black;
}

li:hover {
  background-color: yellow;
}

img {
  margin: 15px;
  width: inherit;
  border-radius: 20px;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  width: 350px;
  margin: 20px;

}

.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-left: 40px;
  margin-right: 40px;
}
